<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Il Ristorante del Gusto</title>
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
    <header>
         <div class="logo-container">
            <a href="/indexAdmin"><img src="/images/logo.jpg" alt="Logo Il Ristorante del Gusto" class="logo"></a>
         	<h1><a href="/indexAdmin">Il Ristorante del Gusto</a></h1>
		</div>
        <nav>
            <ul>
                <li><a href="/menuAdmin">Menù</a></li>
                <li><a href="/logout">Logout</a></li>
                <li><a href="/profile">Profilo</a></li>
            </ul>
        </nav>
    </header>
    
   	<section id="hero">
    	<h2>Gestisci il tuo Ristorante!</h2>
   		<div class="index-admin">
        	<h3><a href="/manageMenu">Gestisci il menu</a></h3>
       		<h3><a href="/formNewProduct">Aggiungi nuovi Prodotti alla selezione</a></h3>
        	<h3><a href="/orders">Visualizza tutti gli ordini</a></h3>
    	</div>
	</section>

    	

    <footer>
        <p>&copy; 2024 Il Ristorante del Gusto. Tutti i diritti riservati.</p>
    </footer>
</body>
</html>
