<!DOCTYPE html>
<html lang="it">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Federazione Sportiva</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <div class="logo">
		   <a href="/index"><img src="/images/202" alt="Logo Federazione"></a>
            <h1><a href="/index">Federazione Sportiva</a></h1>          
        </div>  
        <nav>
			<ul>
            	<li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
       
    </header>

    <div class="container">
        <a href="/teams" class="teams">
            <h2>Le Squadre</h2>
        </a>
        <a href="/federation" class="federation">
            <h2>Informazioni sulla Federazione</h2>
        </a>
         <a href="/manageTeams" class="teams">
            <h2>Gestisci le squadre</h2>
        </a>
        
        <a href="/formNewTeam" class="teams">
            <h2>Aggiungi una Squadra</h2>
        </a>
        
        <a href="/formNewPresident" class="federation">
            <h2>Nomina un nuovo Presidente</h2>
        </a>
    </div>
    
  <footer>
        <p>&copy; 2024 Il Ristorante del Gusto. Tutti i diritti riservati.</p>
    </footer>
</body>
</html>
