<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${team.nome} + ' - Dettagli Squadra'">Dettagli Squadra</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
       <div class="logo">
		   <a href="/index"><img src="/images/202" alt="Logo Federazione"></a>
            <h1><a href="/index">Federazione Sportiva</a></h1>          
        </div>  
        <nav>
            <a href="/teams">Tutte le Squadre</a>
        </nav>
    </header>

    <div class="container">
        <section class="team-details">
            <h2 th:text="${team.nome}">Nome Squadra</h2>
            <p><strong>Anno di Fondazione:</strong> <span th:text="${team.annoFondazione}"></span></p>
            <p><strong>Indirizzo:</strong> <span th:text="${team.indirizzo}"></span></p>
        </section>
        
        <section class="players-list">
            <h3>Giocatori</h3>
            <ul>
                <li th:each="player : ${players}">
                    <span th:text="${player.nome} + ' ' + ${player.cognome}"></span> - 
                    <span th:text="${player.ruolo}"></span>
                </li>
            </ul>
            <div th:if="${#lists.isEmpty(players)}">
                <p>Non ci sono giocatori in questa squadra.</p>
            </div>
        </section>
    </div>
    
    <footer>
        <p>&copy; 2024 Federazione sport Roma Tre.</p>
    </footer>
    
</body>
</html>
