<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Federazione Sportiva</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <div class="logo">
		   <a href="/index"><img src="/images/202" alt="Logo Federazione"></a>
            <h1><a href="/index">Federazione Sportiva</a></h1>          
        </div>  
        <nav>
			<li class="username">
				<a href="/profile" th:text="${username}">Username</a>
            </li>
            
            <li class="username">
				 <a href="/logout">Logout</a>
            </li>
        </nav>
    </header>

    <div class="container">
        <a href="/teams" class="teams">
            <h2>Le Squadre</h2>
        </a>
        <a href="/federation" class="federation">
            <h2>Informazioni sulla Federazione</h2>
        </a>
         <a href="/president/manageYourTeam" class="teams">
            <h2>Gestisci la tua squadra</h2>
        </a>
        
        <a href="/president/formNewPlayer" class="federation">
            <h2>Aggiugni un nuovo Giocatore</h2>
        </a>  
    </div>
    
    <footer>
        <p>&copy; 2024 Il Ristorante del Gusto. Tutti i diritti riservati.</p>
    </footer>
</body>
</html>
