<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Errore - Il Ristorante del Gusto</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <header>
        <div class="logo-container">
            <a href="/index"><img th:src="@{/images/logo.jpg}" alt="Logo Il Ristorante del Gusto" class="logo"></a>
            <h1><a href="/index">Il Ristorante del Gusto</a></h1>
        </div>
        <nav>
            <ul>
                <li><a href="/menu">Menù</a></li>
				 <li><a href="/index">Homepage</a></li>
            </ul>
        </nav>
    </header>
    <section id="hero">
        <h2>Si è verificato un errore</h2>
        <p>Si è verificato un errore durante l'elaborazione della tua richiesta. Per favore riprova più tardi.</p>
    </section>
    <footer>
        <p>&copy; 2024 Il Ristorante del Gusto. Tutti i diritti riservati.</p>
    </footer>
</body>
</html>
