<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Federazione Sportiva</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
     <header>
        <div class="logo">
		   <a href="/index"><img src="/images/202" alt="Logo Federazione"></a>
            <h1><a href="/index">Federazione Sportiva</a></h1>          
        </div>  
    </header>

    <div class="login-container">
        <div class="login-box">
            <h2>Registrazione</h2>
            <form th:action="@{/registerUser}" method="post" th:object="${userRegistrationDto}">
                <div class="form-group">
                    <label for="name">Nome:</label>
                    <input required type="text" id="name" th:field="*{user.name}">
                </div>
                <div class="form-group">
                    <label for="surname">Cognome:</label>
                    <input required type="text" id="surname" th:field="*{user.surname}">
                </div>
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input required type="text" id="username" th:field="*{credentials.username}">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input required type="password" id="password" th:field="*{credentials.password}">
                </div>
                
                <button class="form-group" type="submit">Registrati</button>
            </form>
            
            <div th:if="${errorMessage != null}"> 
                <p th:text="${errorMessage}" style="color: red;"></p>
           	</div>
            
        </div>
    </div>

     <footer>
        <p>&copy; 2024 Federazione sport Roma Tre.</p>
    </footer>
</body>
</html>