<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Federazione Sportiva</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <div class="logo">
            <h1>Federazione Sportiva</h1>          
        </div>
       
        <nav>
        		<li th:if="${username != null}" class="username">
				 <a href="/profile" th:text="${username}">Username</a>
                 </li>
                 
                 <li th:if="${username != null}" class="username">
				 <a href="/logout">Logout</a>
                 </li>
                 
                <li th:if="${username == null}" class="login">
                    <a href="/login">Login</a>
                </li>
                
                 <li th:if="${username == null}" class="register">
					<a href="/register">Register</a>
                 </li>
         </nav>
    </header>

    <div class="container">
        <a href="/teams" class="teams">
            <h2>Le Squadre</h2>
            <!-- Contenuto della sezione squadre -->
        </a>
        <a href="/federation" class="federation">
            <h2>Informazioni sulla Federazione</h2>
            <!-- Contenuto della sezione federazione -->
        </a>
    </div>
    
     <footer>
        <p>&copy; 2024 Federazione sport Roma Tre.</p>
    </footer>
    
</body>
</html>
