<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Men&ugrave;</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <div class="logo-container">
            <a href="/index"><img src="/images/logo.jpg" alt="Logo Il Ristorante del Gusto" class="logo"></a>
         	<h1><a href="/index">Il Ristorante del Gusto</a></h1>
		</div>
         <nav>
            <ul>
                <li><a href="/index">Homepage</a></li>
                
                 <li th:if="${username != null}" class="username">
				 <a href="/profile" th:text="${username}">Username</a>
                 </li>
                 
                 <li th:if="${username != null}" class="username">
				 <a href="/logout">Logout</a>
                 </li>
                 
                <li th:if="${username == null}" class="login">
                    <a href="/login">Login</a>
                </li>
                
                <li th:if="${username == null}" class="register">
					<a href="/register">Register</a>
                </li>
                
            </ul>
        </nav>
    </header>
   <section id="hero">
    <div th:if="${products == null || products.isEmpty()}">Non ci sono prodotti nel sistema</div>
    <div class="product-container" th:if="${products != null && !products.isEmpty()}">
        <div class="product-card" th:each="product : ${products}">
            <a th:href="@{'/product/' + ${product.id}}">
                <h2 th:text="${product.name}">Nome Prodotto</h2>
            <p th:text="${product.price} + ' €'">Prezzo</p>
            </a>
        </div>
    </div>
</section>
    <footer>
        <p>&copy; 2024 Il Ristorante del Gusto. Tutti i diritti riservati.</p>
    </footer>
</body>
</html>
