<!DOCTYPE html>
<html lang="it">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Federazione Sportiva</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <div class="logo">
		   <a href="/index"><img src="/images/202" alt="Logo Federazione"></a>
            <h1><a href="/index">Federazione Sportiva</a></h1>          
        </div>  
        <nav>
            <a href="/login">Login</a>
            <a href="/register">Registrati</a>
        </nav>
    </header>
    <section id="hero">
    	<h2>Registrazione completata con successo</h2>
    	<div class="actions">
   		<h3 class="btn"><a href="/login">Fai Login qui!</a></h3>
   		</div>
	</section>

    <footer>
        <p>&copy; 2024 Il Ristorante del Gusto. Tutti i diritti riservati.</p>
    </footer>
</body>
</html>
