<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Seleziona l'Orario - Il Ristorante del Gusto</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <header>
        <div class="logo-container">
            <a th:href="@{/index}"><img th:src="@{/images/logo.jpg}" alt="Logo Il Ristorante del Gusto" class="logo"></a>
            <h1><a th:href="@{/index}">Il Ristorante del Gusto</a></h1>
        </div> 
        <nav>
            <ul>
                <li><a href="/index">Homepage</a></li>
                <li class="username">
                    <a href="/profile" th:text="${username}">Username</a>
                </li>
                <li><a href="/logout">Logout</a></li>
     
            </ul>
        </nav>
    </header>

    <section id="select-time">
        <h2>Seleziona l'Orario per il tuo Ordine</h2>
        <form th:action="@{/selectTime}" method="post">
            <label for="orario">Orario:</label>
            <select id="orario" name="orario" required>
                <option th:each="orario : ${orari}" th:value="${orario}" th:text="${orario}"></option>
            </select>
            <button type="submit">Conferma Orario</button>
        </form>
    </section>

    <footer>
        <p>&copy; 2024 Il Ristorante del Gusto. Tutti i diritti riservati.</p>
    </footer>
</body>
</html>
