<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Le Squadre</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <div class="logo">
            <a href="/index"><img src="/images/202" alt="Logo Federazione"></a>
            <h1><a href="/index">Federazione Sportiva</a></h1>
        </div>
        <nav>
			
				<li class="register">
					 <a href="/index">Homepage</a>
				 </li>
				 
        		<li th:if="${username != null}" class="username">
				 <a href="/profile" th:text="${username}">Username</a>
                 </li>
                 
                 <li th:if="${username != null}" class="username">
				 <a href="/logout">Logout</a>
                 </li>
                 
                <li th:if="${username == null}" class="login">
                    <a href="/login">Login</a>
                </li>
                
                 <li th:if="${username == null}" class="register">
					<a href="/register">Register</a>
                 </li>
                 
         </nav>
    </header>

    <div class="team-container">
        <section class="team-list">
            <h2 class="team-list">Le Squadre</h2>

            <div th:if="${#lists.isEmpty(teams)}">
                <p>Non ci sono squadre disponibili al momento.</p>
            </div>

            <!-- Griglia per le squadre -->
            <div class="team-grid" th:unless="${#lists.isEmpty(teams)}">
                <div class="team-card" th:each="team : ${teams}">
                    <a th:href="@{/team/{id}(id=${team.id})}" class="team-link">
                        <div class="team-image">
                            <img th:src="@{/images/{imageId}(imageId=${team.image.id})}" alt="Logo Squadra">
                        </div>
                        <div class="teams-info">
                            <h3 th:text="${team.name}"></h3>
                        </div>
                    </a>
                </div>
            </div>
        </section>
    </div>
    
     <footer>
        <p>&copy; 2024 Il Ristorante del Gusto. Tutti i diritti riservati.</p>
    </footer>
</body>
</html>

