<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${team.name} + ' - Dettagli Squadra'">Dettagli Squadra</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
       <div class="logo">
		   <a href="/index"><img src="/images/202" alt="Logo Federazione"></a>
            <h1><a href="/index">Federazione Sportiva</a></h1>          
        </div>  
             <nav>
			
				<li class="register">
					 <a href="/index">Homepage</a>
				 </li>
				 
        		<li th:if="${username != null}" class="username">
				 <a href="/profile" th:text="${username}">Username</a>
                 </li>
                 
                 <li th:if="${username != null}" class="username">
				 <a href="/logout">Logout</a>
                 </li>
                 
                <li th:if="${username == null}" class="login">
                    <a href="/login">Login</a>
                </li>
                
                 <li th:if="${username == null}" class="register">
					<a href="/register">Register</a>
                 </li>
                 
         </nav>
    </header>

    <div class="team-container">
        <div class="team-info">
            <section class="team-details">
                <div>
                    <img th:src="@{'/images/' + ${team.image.id}}" alt="Logo Squadra" class="team-logo"/>
                </div>
                <h2 th:text="${team.name}">Nome Squadra</h2>
                <p><strong>Anno di Fondazione:</strong> <span th:text="${team.annoFondazione}"></span></p>
                <p><strong>Indirizzo:</strong> <span th:text="${team.indirizzo}"></span></p>
                <p><strong>Presidente:</strong> <span th:text="${team.president.name} + ' ' + ${team.president.surname}">Nome Presidente</span></p>
            </section>
        </div>

        <div class="players-list">
            <h3>Giocatori</h3>
            <ul>
                <li th:each="player : ${players}">
                    <a th:href="@{/player/{id}(id=${player.id})}" th:text="${player.name} + ' ' + ${player.surname}"></a> - 
                    <span th:text="${player.ruolo}"></span>
                </li>
            </ul>
            <div th:if="${#lists.isEmpty(players)}">
                <p>Non ci sono giocatori in questa squadra.</p>
            </div>
        </div>
    </div>
</body>
</html>

